# ML + Data
scikit-learn
pandas
numpy
joblib
matplotlib

# NLP + Transformers
transformers
torch
datasets
lime
sentencepiece

# API + Server
fastapi
uvicorn
python-dotenv
groq

# WhatsApp
twilio

# Web scraping (optional)
requests
beautifulsoup4